.card-size {
  height: 60vh;
}

.quote-font {
  font-family: "Great Vibes", cursive;
  font-size: 48px;
  margin: 10%;
}

.author-font {
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 30px;
}

body {
  background-image: url("../Assets/bg.jpg");
}
