header {
  background-color: #c88cb24a;
}

.navbar-nav .nav-link {
  color: #563737b2;
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  text-decoration: none;
  color: #2d0a179e;
}

.nav-font {
  font-family: "Ruwudu", serif;
  font-size: 20px;
}
